<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h4>Go-MySQL Test</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <!-- One of three columns -->
            <!-- <button type="button" class="btn btn-outline-primary btn-block">Primary</button> -->
            <a class="btn btn-outline-primary btn-block" href="/test" role="button">Test Page</a>
        </div>
        <div class="col">
            <!-- One of three columns -->
            <pre>{{.}}</pre>
        </div>
        <div class="col">
            <!-- One of three columns -->
        </div>
    </div>

    <!-- Content here -->
</div>