<div class="container-fluid">
    <div class="row">
        <div class="col">
            <br>
            <h4>Go-MySQL</h4>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- One of three columns -->
            <!-- <button type="button" class="btn btn-outline-primary btn-block">Primary</button> -->
            <a class="btn btn-outline-primary btn-block" href="/test" role="button">Test Page</a>
            <a class="btn btn-outline-primary btn-block" href="/download" role="button">Download</a>
            <a class="btn btn-outline-primary btn-block" href="/bad" role="button">Bad</a>

        </div>
        <div class="col">
            <!-- One of three columns -->
            <a class="btn btn-outline-primary btn-block" href="/test" role="button">Test Page</a>
            <a class="btn btn-outline-primary btn-block" href="/test" role="button">Test Page</a>

        </div>
        <div class="col">
            <!-- One of three columns -->
            <a class="btn btn-outline-primary btn-block" href="/test" role="button">Test Page</a>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <br>
            <pre>{{.}}</pre>
        </div>
    </div>

    <!-- Content here -->
</div>