<!doctype html>
<html>
{{template "head.html"}}
<body>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

  <script type="text/javascript">
    window.addEventListener("load", function () {

      console.log("WINDOW.LOAD")
      // var ws = new WebSocket("ws://" + document.location.host + "/msg");
      var ws = new WebSocket("{{.}}");

      ws.onopen = function (evt) {
        console.log("ONOPEN");

        var message = {
        Fa: "msg type",
        Fb: "msg txt",
        Fc:  Math.random() * (100 - 0) + 0,
    // text: document.getElementById("text").value,
    // id:   clientID,
    // date: Date.now()
      };

  ws.send(JSON.stringify(message));
  console.log("sent:");
  console.log(message);

        // random = Math.random() * (100 - 0) + 0;
        // ws.send("Test " + random);
        // console.log("sent Test " + random)
      }

      ws.onclose = function (evt) {
        console.log("ONCLOSE");
        ws = null;
      }

      ws.onmessage = function (evt) {
        console.log("ONMESSAGE");
        console.log(evt.data)

        var msg = JSON.parse(evt.data);
        console.log("parsed msg:")
        console.log(msg)

      }

      ws.onerror = function (evt) {
        console.log("WS.ONERROR");
      }

      return false;
    });
  </script>
  <h1>ws test - F12 console</h1>

  <h3 id="locst" onclick="myFunction()">Click me to check local storage.</h3>
  <script>
    function myFunction() {
    function storageAvailable(type) {
        var storage;
        try {
            storage = window[type];
            var x = '__storage_test__';
            storage.setItem(x, x);
            storage.removeItem(x);
            return true;
        }
        catch (e) {
            return e instanceof DOMException && (
                // everything except Firefox
                e.code === 22 ||
                // Firefox
                e.code === 1014 ||
                // test name field too, because code might not be present
                // everything except Firefox
                e.name === 'QuotaExceededError' ||
                // Firefox
                e.name === 'NS_ERROR_DOM_QUOTA_REACHED') &&
                // acknowledge QuotaExceededError only if there's something already stored
                (storage && storage.length !== 0);
        }
    }

    if (storageAvailable('localStorage')) {
        console.log("Yippee! We can use localStorage awesomeness");
        document.getElementById("locst").textContent = "Yippee! We can use localStorage awesomeness";
    }
    else {
        console.log("Too bad, no localStorage for us");
        document.getElementById("locst").textContent = "Too bad, no localStorage for us";
    }
}
  </script>

  <h3>{{.}}</h3>
</body>

</html>