<script type="text/javascript">
  window.addEventListener("load", function () {

    console.log("WINDOW.LOAD")
    // var ws = new WebSocket("ws://" + document.location.host + "/msg");
    var ws = new WebSocket("{{.wshost1}}");

    ws.onopen = function (evt) {
      console.log("ONOPEN");

      var message = {
        Fa: "msg type",
        Fb: "msg txt",
        Fc: Math.random() * (100 - 0) + 0,
        // text: document.getElementById("text").value,
        // id:   clientID,
        // date: Date.now()
      };

      ws.send(JSON.stringify(message));
      console.log("sent:");
      console.log(message);

      // random = Math.random() * (100 - 0) + 0;
      // ws.send("Test " + random);
      // console.log("sent Test " + random)
    }

    ws.onclose = function (evt) {
      console.log("ONCLOSE");
      ws = null;
    }

    ws.onmessage = function (evt) {
      console.log("ONMESSAGE");
      console.log(evt.data)

      var msg = JSON.parse(evt.data);
      console.log("parsed msg:")
      console.log(msg)

    }

    ws.onerror = function (evt) {
      console.log("WS.ONERROR");
    }

    return false;
  });
</script>
<h1>ws test - F12 console</h1>

<h3 id="locst" onclick="myFunction()">Click me to check local storage.</h3>
<script>
  function myFunction() {
    function storageAvailable(type) {
      var storage;
      try {
        storage = window[type];
        var x = '__storage_test__';
        storage.setItem(x, x);
        storage.removeItem(x);
        return true;
      }
      catch (e) {
        return e instanceof DOMException && (
          // everything except Firefox
          e.code === 22 ||
          // Firefox
          e.code === 1014 ||
          // test name field too, because code might not be present
          // everything except Firefox
          e.name === 'QuotaExceededError' ||
          // Firefox
          e.name === 'NS_ERROR_DOM_QUOTA_REACHED') &&
          // acknowledge QuotaExceededError only if there's something already stored
          (storage && storage.length !== 0);
      }
    }

    if (storageAvailable('localStorage')) {
      console.log("Yippee! We can use localStorage awesomeness");
      document.getElementById("locst").textContent = "Yippee! We can use localStorage awesomeness";
    }
    else {
      console.log("Too bad, no localStorage for us");
      document.getElementById("locst").textContent = "Too bad, no localStorage for us";
    }
  }
</script>